<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229126066979-4s4228i62o9ubke7luma1l8madbtuju2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229126066979-4s4228i62o9ubke7luma1l8madbtuju2</string>
	<key>API_KEY</key>
	<string>AIzaSyAo1zZ6Iwdg-7ZL_HdcGkJul7tyj4KOdNg</string>
	<key>GCM_SENDER_ID</key>
	<string>229126066979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humanrabbits.queel</string>
	<key>PROJECT_ID</key>
	<string>queelcoin</string>
	<key>STORAGE_BUCKET</key>
	<string>queelcoin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229126066979:ios:b4ce8018b75f8e9b59f296</string>
</dict>
</plist>